.selected-color{
  height: 0;
  overflow: hidden;
}
.main-cnt{
  height: fit-content;
  padding: 2rem;
  border-radius: 1rem;
  width: 20rem;
  /* background-color: rgb(230, 230, 230); */
}

.form-cnt{
  transition: height 1s;
  border-radius: 1rem;
  background-color: #d5e6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1.5rem;
}
.color-cnt{
  height: 2rem;
  width: 100%;
}
.colors{
  height: 0 ;
  margin: auto;
  overflow: hidden;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  /* padding-top: 1rem ; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.create-card-btn{
  width: fit-content;
}
.title-cnt{
  height: 0 ;
  overflow: hidden;
}
.desc-cnt{
  height: 0;
  overflow: hidden;

}
.open{
  height: fit-content !important;
  margin-top: 1rem;
}
.card-cnt{
  display: grid;
  gap: 1rem;
  grid-template-columns: 4fr 6fr;
  margin-bottom: 1rem;
}
.card-big-cnt{
  background-color: rgb(236, 236, 236);
  margin-top: 2rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
}
.color-box{
  height: 4rem;
  width: 4rem;
}
.card-title-cnt{
  font-size: 2rem;

  height: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.card-desc-cnt{
  color: gray;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.black{
  background-color: black;
}
.yellow{
  background-color: yellow;
}
.open-card{
  /* display: none !important; */
  /* overflow: hidden; */
}
.show-more-cnt{
  /* display: block; */
  text-align: center;
  font-size: 0.8rem;
  color: rgb(143, 143, 143);
  width: 100%;
  padding: 0.5rem;
}
